<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Início - APMDb</title>
    <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon" />
  </head>
  <body class="bg-dark">
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand text-light fs-4 fw-bold" href="#">APMDb</a>
      </div>
    </nav>
    <div class="container d-grid gap-3">
      <div class="row gap-3">
        <h1 id="lblEmAlta" class="col fw-semibold text-warning" role="button">Filmes em Alta</h1>
        <h1 id="lblFavoritos" class="col fw-semibold text-warning" role="button">Filmes Favoritos</h1>
      </div>

      <div id="pnlFilmes" class="row g-3">
      <!--HTML Gerado FilmeListagem-->
      </div>
    </div>
  </body>
</html>
