<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filme - APMDb</title>
    <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon" />
  </head>
  <body class="bg-dark">
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand text-light fs-4 fw-bold" href="index.html"
          >APMDb</a
        >
        <a class="btn btn-outline-light" href="index.html">Página Inicial</a>
      </div>
    </nav>
    <div class="container d-grid gap-3 my-4">
      <!-- Cabecalho -->
      <div id="pnlCabecalho" class="row">
        <!--HTML Gerado FilmeDetalhes-->
      </div>

      <!-- Seção do Poster e Trailer -->
      <div class="row gap-3">
        <div id="pnlPoster" class="col-lg-3">
         <!--HTML Gerado FilmeDetalhes-->
        </div>
        <div class="col-lg">
          <div id="pnlTrailer" class="ratio ratio-21x9 h-100">
            <!--HTML Gerado FilmeDetalhes-->
          </div>
        </div>
      </div>

      <div id="pnlGeneros" class="d-flex gap-3">
        <!--HTML Gerado FilmeDetalhes-->
      </div>

      <div class="row">
        <p id="lblDescricao" class="fs-5 text-light">
         <!--HTML Gerado FilmeDetalhes-->
        </p>
      </div>

      <div id="pnlCreditos" class="row">
       <!--HTML Gerado FilmeDetalhes-->
      </div>
    </div>
  </body>
</html>
